* {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    font-family: sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
}

#price {
    color: deepskyblue;
    width: 33%;
    float: left;
    margin-top: -0.6em;
    position: absolute;
    top: 50%;
}

#ticket-content {
    width: 100%;
    height: 28%;
    position: relative;
    float: left;
    marginBottom: 2%
}

#ticket-content-particle {
    width: 33%;
    float: left;
}

#logo {
    float: right;
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
    align-items: center;
}

#tickets-block {
    width: 66%;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
}

#ticket-item {
    border-radius: 10px;
    border: solid 1px lightgrey ;
    padding-left: 5%;
    padding-right: 5%;
    height: 300px;
    margin-bottom: 2%;
}

.card-group {
    float: left;
}

#radio-block {
    width: 30%;
    padding: 30px;
    float: left;
}

button {
    width: 50%;
    height: 70px;
}

/** {
    background: url("https://s1.1zoom.ru/big0/596/Evening_Forests_Mountains_Firewatch_Campo_Santo_549147_1280x720.jpg") no-repeat center;
}*/
